<h1>Your giving history</h1>

<table>
	<thead>
		<tr>
			<th align="left">Date</th>
			<th>Deduction</th>
			<th>Donation to charity</th>
			<th>Charity</th>
		</tr>
	<thead>
	<tbody>
		<tr>
			<td align="left">January 2013</td>
			<td>&pound;10</td>
			<td>&pound;13</td>
			<td>NSPCC</td>
		</tr>
		<tr>
			<td align="left">December 2012</td>
			<td>&pound;10</td>
			<td>&pound;13</td>
			<td>Oxfam</td>
		</tr>
		<tr>
			<td align="left">November 2012</td>
			<td>&pound;10</td>
			<td>&pound;13</td>
			<td>NSPCC</td>
		</tr>
		<tr>
			<td align="left">October 2012</td>
			<td>&pound;50</td>
			<td>&pound;63</td>
			<td>NSPCC</td>
		</tr>
		<tr>
			<td align="left">September 2012</td>
			<td>&pound;10</td>
			<td>&pound;13</td>
			<td>NSPCC</td>
		</tr>
		<tr>
			<td align="left">August 2012</td>
			<td>&pound;10</td>
			<td>&pound;13</td>
			<td>NSPCC</td>
		</tr>
	</tbody>
</table>