<div class="introduction">
	<h2>What is Give as you Earn?</h2>
	<p>This is one of the most tax efficient methods for employees to make regular donations to charities through a deduction from their salary. The added benefit is that Tate & Lyle Sugars will match 50% of your personal contribution up to a maximum of £250 to suitable charities (excluding charities that are animal welfare or religious based). GAYE form can be picked from the Human Resources Department.’</p>
</div>
<div class="grid">
	<div class="grid-4-1">
		<h3>Community Links</h3>
<!-- 		<figure class="charity-image"></figure> -->
		<p>We are an innovative east London charity, running a wide range of community projects for over 16,000 people every year. Based in Newham, we have over 30 years of experience working with local people to support children, young people, adults and families.</p>
		<p><a href="http://www.community-links.org/">Community Links website</a></p>
	</div>
	<div class="grid-4-1">
		<h3>Richard House Children’s Hospice</h3>
<!-- 		<figure class="charity-image"></figure> -->
		<p>Richard House Children's Hospice, based in Newham, east London, is a purpose-built children's hospice caring for children from across the Capital, Essex, Kent and the Home Counties.</p>
		<p><a href="http://richardhouse.org.uk/">Richard House Children’s Hospice website</a></p>
	</div>
	<div class="grid-4-1">
		<h3>Newham All Stars Sports Academy (NASSA)</h3>
<!-- 		<figure class="charity-image"></figure> -->
		<p>At NASSA we believe that every child is special and can ‘speak the language of sport’. We want to make good basketball players – but our number one goal is to make good people! Our purpose is for all young people to have the opportunity to participate in, enjoy and learn through sport.</p>
		<p><a href="http://www.nassa2012.org.uk/">Newham All Stars Sports Academy (NASSA) website</a></p>
	</div>
	<div class="grid-4-1">
		<h3>Community Food Enterprise</h3>
<!-- 		<figure class="charity-image"></figure> -->
		<p>Our mission is to work in partnership with the diverse communities of London, and nationally with those of similar needs, to safeguard and sustain the right of our community in all its diversity to access the right food at an affordable price as a fundamental condition for individual and community health and well-being.</p>
		<p><a href="http://www.c-f-e.org.uk/index.htm">Community Food Enterprise website</a></p>
	</div>
		<div class="grid-4-1">
		<h3>Newham Education Business Partnership</h3>
<!-- 		<figure class="charity-image"></figure> -->
		<p>NEBP’s remit is to forge and broker education-business links and support the development of work-related learning and enterprise skills in young people.</p>
		<p><a href="http://www.nebp.org.uk/">Newham Education Business Partnership website</a></p>
	</div>
</div>
<p class="cta core_cta"><%= link_to "Start giving", '/' + @_employer.slug + '/register' %></p>