<h1>Message your employees</h1>
<form>
	<fieldset>
		<div class="input string">
			<label>
				Subject
			</label>
			<input type="text" class="input text" />
		</div>
		<div class="input textara">
			<textarea class="input textarea"></textarea>
		</div>
	</fieldset>
	<p class="cta"><%= link_to "Send", company_dashboard_path('a-company') %></p>
</form>