<h1>Give as you Earn report for February</h1>

<p>Total for this period <strong>&pound;430.00</strong>, deduction date <strong>31/02/2013</strong></p>

<table>
	<thead>
		<tr>
			<th align="left">Employee name</th>
			<th>National Insurance Number</th>
			<th>Employee donation</th>
			<th>Matched donation</th>
			<th></th>
		</tr>
	<thead>
	<tbody>
		<tr>
			<td align="left">Victoria Webster</td>
			<td align="left">12093094</td>
			<td>&pound;203</td>
			<td>&pound;203</td>
		</tr>
		<tr>
			<td align="left">Tom Farrand</td>
			<td align="left">12093094</td>
			<td>&pound;12</td>
			<td>&pound;12</td>
		</tr>
	</tbody>
</table>

<p class="cta" style="float: left; margin-right: 1em;"><%= link_to "Export report", "/report.xls" %></p>
<p class="cta" style="float: left; margin-right: 1em;"><%= link_to "Export summary report", "/report-summary.xls" %></p>
<p class="cta" style="float: left"><%= link_to "Past reports", company_reports_path %></p>	
<p class="cta" style="float: right"><%= link_to "Approve changes", "#", 'id' => 'approve-changes' %></p>	

